@use "theme";
@use "mixins";

.footer {
  @include mixins.flex-center;
  padding: 2rem;
  background-color: theme.$color-footer-bg;
  border-top: 1px solid #e5e7eb;
  flex-direction: column;

  .footer-links {
    @include mixins.flex-center;
    gap: 1.5rem;
    margin-top: 0.5rem;

    a {
      @include mixins.flex-center;
      width: 40px;
      height: 40px;
      font-size: 24px;
      text-decoration: none;
      border-radius: 50%;

      &:hover {
        color: theme.$color-hover;
      }
    }
  }
}
