:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-padding-top: 100px;
}

body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(
    160deg,
    #ffffff 0%,
    #ffa600c2 80%,
    #ffa600c2 100%
  );
  color: #1f2937;
  min-height: 100vh;
  padding: 0;
}

/* Layout général */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.section-paragraph-1,
.section-paragraph-2,
.section-paragraph-3 {
  margin: 1em;
}

@media (prefers-color-scheme: dark) {
  .page-container {
    background-color: #111;
    color: #fff;
  }
}

.btn-primary {
  display: inline-block;
  background-color: #ffa600c2;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  text-align: center;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #ffa600c2;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

h1 {
  animation: scaleIn 1s ease forwards;
  font-size: 32px;
  margin: 1em;
  text-align: center;
  margin-bottom: 2rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;

  span {
    background-color: #ffa600c2;
    color: black;
    padding: 0.3rem 0.6rem;
    border-radius: 9999px;
    font-size: 0.9rem;
  }
}
