@use "theme";

.mynavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: theme.$color-navbar-bg;
  color: theme.$color-text;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-link {
  position: relative;
  color: theme.$color-text;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 6px;
  margin-right: 1em;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: theme.$color-hover;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link:focus-visible::after {
  width: 100%;
}

.nav-link:hover,
.nav-link:focus-visible {
  color: theme.$color-hover;
}

.logo {
  height: 6em;
  width: 100%;
  object-fit: contain;
  cursor: none;
}
