/* Variables couleurs*/
$color-background: #008fc1;
$color-primary: #00abe459;
$color-primary-hover: #008fc1;
$color-text: #1f2937;
$color-text-light: #ffffff;
$color-navbar-bg: #ffffff;
$color-footer-bg: #00abe4;
$color-footer-text: #ffffff;
$color-badge-bg: #d0e7f9;
